html {
  padding: 0px;
  margin: 0px;
  border: none;
}

body {
  padding: 0px;
  margin: 0px;
  border: none;
}

div {
  /*outline: white dashed thin;*/
}

h1 {
  margin: 0px;
  font-size: 32px;
  font-weight: bold;
}

h2 {
  margin: 0px;
  font-size: 24px;
  font-weight: bold;
}

h3 {
  margin: 0px;
  font-size: 18px;
  font-weight: normal;
}

#body {
  height: 800px;
  width: 480px;
  background-color: black;
  color: white;
  font-family: Arial;
  font-size: 24px;

}

#tabs {
  padding: 0px 25px;
  width: 430px;
  height: 60px;
}

.tab-header {
  float: left;
  width: auto;
  height: 60px;
  padding: 0px 35px;
  line-height: 60px;
}

.tab-header:hover {
  color: black;
  background-color: white;
  cursor: pointer;
}

.section {
  float: left;
  padding: 10px 25px 0px;
  width: 430px;
  height: auto;
}

#tags {
  float: left;
  padding-bottom: 10px;
  /*margin: 10px 0px;*/
  width: 430px;
  height: auto;
}

.tag {
  background-color: red;
  color: white;
  margin: 5px;
  padding: 3px 8px;
  float: left;
  min-width: 10px;
  height: 24px;
  border-radius: 15px;
  line-height: 24px;
}

.tag:hover {
  color: black;
  background-color: yellow;
  cursor: pointer;
}

#tag_filter_form {
  float: left;
  width: 430px;
  height: auto;
}

.w7_input {
  background-color: lightgray;
  border: None;
  font-size: 1em;
  color: black;
  font-family: Arial;
}

.w7_input:focus {
  background-color: white;
  border: None;
  font-size: 1em;
  color: black;
  font-family: Arial;
}

#tag_filter {
  padding: 2px 0px;
  width: 380px;
  height: 35px;
}

#todo_table {
  width: 430px;
  height: auto;
  float: left;
  font-size: 18px;
}

.todo_table-row1 {
  margin: 1px;
  float: left;
  background-color: #3F3F3F;
  padding: 3px 10px;
  width: 408px;
}

.todo_table-row1:hover {
  margin: 1px;
  float: left;
  background-color: #4F4F4F;
  padding: 3px 10px;
  width: 408px;
  outline: white thin dashed;
  cursor: pointer;
}

.todo_table-row2 {
  margin: 1px;
  float: left;
  background-color: #5F5F5F;
  padding: 3px 10px;
  width: 408px;
}

.todo_table-row2:hover {
  margin: 1px;
  float: left;
  background-color: #6F6F6F;
  padding: 3px 10px;
  width: 408px;
  outline: white thin dashed;
  cursor: pointer;
}

.todo_table-row_last {
  margin: 1px;
  float: left;
  color: black;
  background-color: #3F3F3F;
  /*background-color: red;*/
  padding: 3px 10px;
  width: 408px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.todo_table-row_last:hover {
  margin: 1px;
  float: left;
  color: black;
  background-color: #7F7F7F;
  /*background-color: yellow;*/
  padding: 3px 10px;
  width: 408px;
  cursor: pointer;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.todo_table-legend {
  margin: 1px;
  float: left;
  font-size: 22px;
  font-weight: bold;
  padding: 0px 10px 5px;
  width: 408px;
}

.todo_table-left {
  float: left;
  width: 320px;
}

.todo_table-right {
  float: right;
}

h2.todo_legend {
  font-weight: bold;
  text-decoration: underline;
}

.sortable:hover {
  cursor: pointer;
}

.todo_date-time {
  float: left;
  width: 215px;
}

#todo_name_form {
  width: 430px;
}

#todo_loc_form {
  width: 430px;
}

#todo_start_time_form {
  width: 200px;
}

#todo_end_time_form {
  width: 215px;
}

#todo_desc_form {
  height: 87px;
  width: 430px;
}

#tag_list {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  border: none;
}

.tag_list_item {
  background-color: #3F3F3F;
  padding: 5px 5px;
}

.tag_list_item:hover {
  background-color: #4F4F4F;
  cursor: pointer;
}

.tag_list_item-first {
  background-color: #3F3F3F;
  padding: 0px 35px;
  width: auto; /* 430px; */
  height: 40px;
  line-height: 40px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-bottom: 1px;
}

.tag_list_item-last {
  background-color: #3F3F3F;
  padding: 0px 35px;
  float: left;
  width: 360px;
  height: 40px;
  line-height: 40px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.tag_list_item-last:hover {
  background-color: #4F4F4F;
  cursor: pointer;
  padding: 0x 35px;
  float: left;
  width: 360px;
  height: 40px;
  line-height: 40px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}