div {
  /*outline: white dashed thin;*/
}

h1, h2 {
    margin: 0px;
}

#body {
  height: 800px;
  width: 480px;
  background-color: black;
  color: white;
  font-family: Arial;
  font-size: 24px;
}

#tabs {
  padding: 0px 25px;
  width: 430px;
  height: 60px;
}

.tab-header {
  float: left;
  width: auto;
  height: 60px;
  padding: 0px 35px;
  line-height: 60px;
}

.tab-header:hover {
  color: black;
  background-color: white;
  cursor: pointer;
}

#tab-content {
  padding: 0px 25px;
  width: 430px;
  height: 740px;
}

#tags {
  float: left;
  margin: 10px 0px;
  width: 430px;
  height: auto;
}

.tag {
  background-color: red;
  color: white;
  margin: 5px;
  padding: 3px 8px;
  float: left;
  min-width: 10px;
  height: 24px;
  border-radius: 15px;
  line-height: 24px;
}

.tag:hover {
  color: black;
  background-color: yellow;
  cursor: pointer;
}

#tag_filter_form {
  float: left;
  width: 430px;
  height: auto;
  margin-top: 10px;
}

#tag_filter {
  font-size: 1em;
  color: black;
  padding: 2px 0px;
  width: 380px;
  height: 35px;
  background-color: lightgray;
  border: None;
}

#todo_table {
  width: 430px;
  height: auto;
  float: left;
  font-size: 18px;
}

.todo_table-row1 {
  margin: 1px;
  float: left;
  background-color: #3F3F3F;
  padding: 3px 10px;
  width: 408px;
}

.todo_table-row1:hover {
  margin: 1px;
  float: left;
  background-color: #4F4F4F;
  padding: 3px 10px;
  width: 408px;
  outline: white thin dashed;
  cursor: pointer;
}

.todo_table-row2 {
  margin: 1px;
  float: left;
  background-color: #5F5F5F;
  padding: 3px 10px;
  width: 408px;
}

.todo_table-row2:hover {
  margin: 1px;
  float: left;
  background-color: #6F6F6F;
  padding: 3px 10px;
  width: 408px;
  outline: white thin dashed;
  cursor: pointer;
}

.todo_table-legend {
  margin: 1px;
  float: left;
  font-size: 22px;
  font-weight: bold;
  padding: 5px 10px;
  width: 408px;
}

.todo_table-left {
  float: left;
  width: 320px;
}

.todo_table-right {
  float: right;
}

h2.todo_legend {
  font-weight: bold;
  text-decoration: underline;
}

.sortable:hover {
  cursor: pointer;
}